html {
  font-size: calc(100vw / 79);
}

@media (min-width: 960px) {
  html {
    font-size: calc(960px / 79) !important;
  }
}

@media (min-width: 1264px) {
  html {
    font-size: calc(1264px / 79) !important;
  }
}

@media (min-width: 1904px) {
  html {
    font-size: calc(1904px / 79) !important;
  }
}
