html {
  font-size: calc(100vw / 79);
}

@media (min-width: 960px) {
  html {
    font-size: calc(960px / 79) !important;
  }
}

@media (min-width: 1264px) {
  html {
    font-size: calc(1264px / 79) !important;
  }
}

@media (min-width: 1904px) {
  html {
    font-size: calc(1904px / 79) !important;
  }
}

.row {
  margin: -0.75rem;
}

.row + .row {
  margin-top: 0.75rem;
}

.v-application p {
  margin-bottom: 1rem;
}

.v-slider--horizontal {
  min-height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container {
  padding: 0.75rem;
}

.v-alert {
  font-size: 1rem;
}

.v-btn:not(.v-btn--round).v-size--default {
  padding: 0 1rem;
  min-width: 4rem;
}
