#dashboard {
  background: linear-gradient(120deg, #f0e6f0 15%, #d8ebf1 80%, #cfebf1 90%);

  &::after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: "";
  }

  #dashboard-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    #content {
      height: 100%;
      margin: 0px;

      .col {
        padding: 0;
      }

      #main-content {
        position: relative;
        flex-wrap: nowrap;
        margin-left: 1rem;
        display: inline-flex;
        left: 0rem;
        transition: all 0.8s;
      }

      .dashboard-box {
        background-color: rgba($color: #fff, $alpha: 0.3);
        margin: 3.2rem 1.5rem;
        width: 6rem;
        max-height: 17rem;
        min-width: 12.5rem;
        box-shadow: 3px 3px 14px 7px rgb(0 0 0 / 5%);
        min-height: 17rem;
        border-radius: 2rem;
        transition: width 0.8s;

        .heading {
          margin-top: 1rem;
          margin-bottom: 0.2rem;
          font-size: 1rem;
        }

        .section-name {
          font-size: 0.9rem;
          margin-top: 0.2rem;
        }
      }

      .wrapper {
        padding-right: 2rem;

        // Expand Logic
        &.expand-xl {
          .expand {
            width: 46rem !important;
          }
          .expand-1 {
            left: -16.5rem !important;
            .btn-close {
              position: absolute;
              left: 60rem;
              top: 4rem;
            }
          }
          .expand-2 {
            left: -32rem !important;
            .btn-close {
              position: absolute;
              left: 75rem;
              top: 4rem;
            }
          }
        }
        &.expand-xs {
          .expand {
            width: 23rem !important;
          }
          .expand-1 {
            left: -4.5rem !important;
            .btn-close {
              position: absolute;
              left: 37rem;
              top: 4rem;
            }
          }
          .expand-2 {
            left: -26.5rem !important;
            .btn-close {
              position: absolute;
              left: 37rem;
              top: 4rem;
              position: absolute;
            }
          }
        }
      }
    }
  }

  .vue-wavify-wave {
    position: absolute;
    height: 8rem;
    bottom: -58px;
    opacity: 0.3;
  }
}
