.v-application--is-ltr .v-tabs--align-with-title > .v-tabs-bar:not(.v-tabs-bar--show-arrows):not(.v-slide-group--is-overflowing) > .v-slide-group__wrapper > .v-tabs-bar__content > .v-tab:first-child,
.v-application--is-ltr
  .v-tabs--align-with-title
  > .v-tabs-bar:not(.v-tabs-bar--show-arrows):not(.v-slide-group--is-overflowing)
  > .v-slide-group__wrapper
  > .v-tabs-bar__content
  > .v-tabs-slider-wrapper
  + .v-tab {
  margin: 0;
}

.event-section {
  .booking-container {
    min-height: 10.875rem;
    padding-top: 0.2rem;
  }

  .v-tabs {
    border-radius: 5rem;
    box-shadow: 3px 3px 14px 7px rgb(0 0 0 / 5%);

    .v-tabs-bar {
      height: 2.3rem;
    }

    .v-tabs-slider {
      display: none;
    }

    .v-tab {
      font-size: 0.75rem;
      padding: 0 0.5rem;
      min-width: 4.625rem;
      max-width: 22.5rem;
    }

    .v-slide-group__prev,
    .v-slide-group__next {
      display: none;
    }
  }
  .v-tabs-items {
    background-color: unset !important;
  }

  .event-container {
    margin: 1rem 1rem;
  }

  .event-wrapper {
    width: 50%;
    padding: 0 1rem;
  }

  .v-window__container {
    // height: 4.875rem !important;
  }

  .page-selector {
    width: 13rem;
    margin: auto;
    margin-top: -2.5rem;
    .page-dots {
      margin-bottom: -0.5rem;
    }
  }
}


#bookedEvents {
  .side-button {
    font-size: .7rem;
  }
}
