#events {

  .dashboard-buttons {
    margin-top: .8rem;
  }

  .control-box {
    height: 4rem;
    width: 9rem;
    margin: 0 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-top: 1.4rem;
    align-items: flex-start;

    .v-btn__content {
      display: block;
    }

    &.bg-green {
      background: linear-gradient(45deg, #9EDF99 0%, #B9EAB0 100%);
      border: 1px solid #b6e9ad;
      box-shadow: 2px 2px 8px 3px rgba($color: #b6e9ad, $alpha: 0.3);
    }

    &.bg-yellow {
      background: linear-gradient(45deg, #F2D27C 0%, #FEEAB6 100%);
      border: 1px solid #feeab6;
      box-shadow: 2px 2px 8px 3px rgba($color: #feeab6, $alpha: 0.3);
    }

    .row {
      align-items: flex-end;
    }

    p {
      color: #fff;
      margin: 0;
    }

    p.number {
      font-size: 3rem;
      line-height: 2.3rem;
      padding-right: .1rem;
      padding-left: .25rem;

      span {
        font-size: 1rem;
        top: -0.5rem;
        position: relative;
      }
    }

    p.number-description {
      font-size: 0.7rem;
      text-transform: none;
      letter-spacing: normal;
    }

    img {
      position: absolute;
      top: -1rem;
      right: -0.5rem;
      height: 1.1rem;
    }
  }

  p.label {
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }
}
