#lightControl {
  .lamp-container {
    width: 8rem;
    background-color: #fff;
    box-shadow: 3px 3px 14px 7px rgb(0 0 0 / 5%);
    padding: 0.7rem;
    border-radius: 1rem;

    .lamp-name {
      margin: 0;
      font-size: 0.9rem;
      margin-top: 0.5rem;
    }

    .number {
      font-size: 1.3rem;
      margin: 0;
      padding: 0 .7rem;
    }

    .hueSlider {
      margin: 0.7rem .7rem;
    }

    .brightness-gradient {
      border-radius: 0px 0px 1rem 1rem;

      img {
        height: 1.8rem;
        padding: .1rem;
        padding-left: .4rem;
      }
    }
  }
}
