.v-window {
  overflow: unset;
}

.sidebar {
  z-index: 5;
}

#notificationBar {
  background-color: rgba($color: #fff, $alpha: 0.4);
  height: 100%;
  margin-left: auto;
  margin-right: 0;
  width: 15rem;
  z-index: 5;

  h3 {
    font-size: 1.3rem;
    line-height: 1rem;
    margin-top: 1.2rem;
  }
  .subHeadline {
    font-size: 0.7rem;
    margin-top: 0.2rem;
  }

  .event-container {
    overflow: unset;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    height: 25rem;

    .badge {
      position: relative;
      left: 12.8rem;
      top: -5.5rem;
      height: 1.2rem;
      width: 1.2rem;
      background-color: #19eb43;
      border: #e3f3f7 3px solid;
      border-radius: 1rem;
      margin-bottom: -1.2rem;
    }

    .type-boarding .badge {
      background-color: #FF4040;
    }

    // @import url(../elements/event.scss);
    

    //
  }
}
