.myfab .v-icon {
  height: 1.2rem !important;
  font-size: 1.2rem !important;
  width: 1.2rem !important;
}

.myfab {
  height: 1.8rem !important;
  width: 1.8rem !important;
}

.myfab-xxs .v-icon {
  height: .8rem !important;
  font-size: .8rem !important;
  width: .8rem !important;
}

.myfab-xxs {
  height: 1.1rem !important;
  width: 1.1rem !important;
  box-shadow: 3px 3px 14px 7px rgb(0 0 0 / 5%);
}
